/* Ryan Haines 2014 Web Homepage */

/*variables*/
$paleBlue : #ACC1FF;
$darkBlue : #0E5DAB;
$lightBlue : #22C9FF;
$lightTeal: #C7FFFF;
$deepTeal: #6CFFD7;

body{
	margin: 0;
	font-family:avenir;

	.navyBlue{
		padding: 0 5%;
		background-color: $darkBlue;
	}

	.header{
		background-color: $paleBlue;
		> *{
			display:inline-block;
		}
		#title{
			font-size: 46px;
			margin:10px;
		}
		.contactWrapper{
			padding: 0 10px;
			a{
				text-decoration: none;
			}
			span{
				position:relative;
				bottom:10px;
			}
			img{
				max-width: 42px;
				max-height: 42px;
			}
		}
	}




	.mainContent{
		background-color: $lightTeal;
	}

	h1{
		margin: 0;
	}

	.leftColumn{
		display:inline-block;
		margin:10px;
		vertical-align: top;
		width:35%;
		
		#myFace{
			max-width: 100%;
		}

		.socialLinks{
			margin: 10px 0px 0 0;
			padding:0;
			font-size: 0.1;
			text-align: justify;
			> div{
				margin:5px;
				display:inline-block;
				img{
					max-width:42px;
					max-height: 42px;
				}
			}	
		}

		.socialLinks:after { 
			content:' '; 
			display:inline-block; 
			width: 100%; 
			height: 0 
		}

	}

	.rightColumn{
		margin:10px;
		display:inline-block;
		width:55%;
		h1{
			font-size: 22px;
		}	
		p{
			line-height: 1.6em;
		}
	}
}