/* Ryan Haines 2014 Web Homepage */
/*variables*/
.pslk {
  text-decoration: inherit;
  color: inherit;
  cursor: default;
}

body {
  margin: 0;
  font-family: avenir, sans-serif;
}
body .navyBlue {
  padding: 0 5%;
  background-color: #2112a3;
}
body #pageContent {
  border-left: 2px solid black;
  border-right: 2px solid black;
}
body #header {
  border-bottom: 2px solid black;
  background-color: #dde5ff;
}
body #header > * {
  display: inline-block;
}
body #header #name {
  font-size: 44px;
  margin: 1%;
  display: none;
}
body #header #sigil {
  height: 100px;
  position: relative;
  right: 80px;
}
body #header #sigilWrapper {
  margin: 10px;
}
body #header .sigilButton a {
  text-decoration: none;
}
body #header .sigilButton span {
  color: black;
}
body #header .sigilButton img {
  margin: 2px;
  max-width: 42px;
  max-height: 42px;
  vertical-align: middle;
}
body #mainContent {
  background-color: #d5ddeb;
  -webkit-box-shadow: black 0 5px 10px;
  -moz-box-shadow: black 0 5px 10px;
  box-shadow: black 0 5px 10px;
}
body h1 {
  margin: 0;
}
body #leftColumn {
  display: inline-block;
  margin: 1%;
  vertical-align: top;
  width: 35%;
}
body #leftColumn #myFace {
  max-width: 100%;
  border-radius: 50%;
  border: 2px solid #767676;
}
body #leftColumn .contactWrapper {
  text-align: center;
  margin: 10px 5px;
}
body #leftColumn #socialLinks {
  margin: 10px 0px 0 0;
  padding: 0;
  font-size: 0.1;
  text-align: center;
  list-style: none;
}
body #leftColumn #socialLinks > li {
  padding: 2px 5px;
  display: inline;
}
body #leftColumn #socialLinks > li a, body #leftColumn #socialLinks > li img {
  text-decoration: none;
  outline: none;
  border: 0px none transparent;
}
body #leftColumn #socialLinks > li img {
  margin: 3px;
  max-width: 42px;
  max-height: 42px;
}
body #leftColumn #socialLinks > #soundcloud img, body #leftColumn #socialLinks #linkedin img {
  border-radius: 6px;
}
body #leftColumn #socialLinks object {
  width: auto;
  height: auto;
}
body #rightColumn {
  margin: 1%;
  display: inline-block;
  width: 60%;
}
body #rightColumn h1 {
  font-size: 22px;
}
body #rightColumn p {
  line-height: 1.6em;
}
body #rightColumn .contactButton {
  float: right;
}
body .contactButton {
  background-color: #dae2e8;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFDAE2E8', endColorstr='#FFB3BEAD');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dae2e8), color-stop(40%, #dae2e8), color-stop(100%, #b3bead));
  background-image: -webkit-linear-gradient(top, #dae2e8 0%, #dae2e8 40%, #b3bead 100%);
  background-image: -moz-linear-gradient(top, #dae2e8 0%, #dae2e8 40%, #b3bead 100%);
  background-image: -o-linear-gradient(top, #dae2e8 0%, #dae2e8 40%, #b3bead 100%);
  background-image: linear-gradient(top, #dae2e8 0%, #dae2e8 40%, #b3bead 100%);
  border: 1px solid #767676;
  border-radius: 3px;
  display: inline-block;
  padding: 0px 5px;
  margin: 5px;
}
body .contactButton a {
  text-decoration: none;
}
body .contactButton span {
  color: black;
}
body .contactButton img {
  margin: 2px;
  max-width: 42px;
  max-height: 42px;
  vertical-align: middle;
}
body #footer {
  background-color: #d5ddeb;
  text-align: center;
  font-size: 10px;
}
body #footer p {
  margin: 0px;
  padding: 0px 5px;
}
@media (max-width: 610px) {
  body #rightColumn, body #leftColumn {
    margin: 0 2%;
    width: 95%;
  }
  body #rightColumn h1, body #leftColumn h1 {
    text-align: center;
  }
  body #leftColumn {
    margin-top: 2%;
  }
}
