/* Ryan Haines 2014 Web Homepage */
/*variables*/
body {
  margin: 0;
  font-family: avenir; }
  body .navyBlue {
    padding: 0 5%;
    background-color: #0e5dab; }
  body .header {
    background-color: #acc1ff; }
    body .header > * {
      display: inline-block; }
    body .header #title {
      font-size: 46px;
      margin: 10px; }
    body .header .contactWrapper {
      padding: 0 10px; }
      body .header .contactWrapper a {
        text-decoration: none; }
      body .header .contactWrapper span {
        position: relative;
        bottom: 10px; }
      body .header .contactWrapper img {
        max-width: 42px;
        max-height: 42px; }
  body .mainContent {
    background-color: #c7ffff; }
  body h1 {
    margin: 0; }
  body .leftColumn {
    display: inline-block;
    margin: 10px;
    vertical-align: top;
    width: 35%; }
    body .leftColumn #myFace {
      max-width: 100%; }
    body .leftColumn .socialLinks {
      margin: 10px 0px 0 0;
      padding: 0;
      font-size: 0.1;
      text-align: justify; }
      body .leftColumn .socialLinks > div {
        margin: 5px;
        display: inline-block; }
        body .leftColumn .socialLinks > div img {
          max-width: 42px;
          max-height: 42px; }
    body .leftColumn .socialLinks:after {
      content: ' ';
      display: inline-block;
      width: 100%;
      height: 0; }
  body .rightColumn {
    margin: 10px;
    display: inline-block;
    width: 55%; }
    body .rightColumn h1 {
      font-size: 22px; }
    body .rightColumn p {
      line-height: 1.6em; }
