/* Ryan Haines 2014 Web Homepage */
/*variables*/
/* line 40, ../sass/index.scss */
body {
  margin: 0;
  font-family: avenir, sans-serif;
}
/* line 44, ../sass/index.scss */
body .navyBlue {
  padding: 0 5%;
  background-color: #0e5dab;
}
/* line 49, ../sass/index.scss */
body .header {
  -webkit-box-shadow: black 0 2px 10px;
  -moz-box-shadow: black 0 2px 10px;
  box-shadow: black 0 2px 10px;
  background-color: #acc1ff;
}
/* line 52, ../sass/index.scss */
body .header > * {
  display: inline-block;
}
/* line 55, ../sass/index.scss */
body .header #title {
  font-size: 46px;
  margin: 10px;
}
/* line 64, ../sass/index.scss */
body .mainContent {
  background-color: white;
  -webkit-box-shadow: black 0 5px 10px;
  -moz-box-shadow: black 0 5px 10px;
  box-shadow: black 0 5px 10px;
}
/* line 69, ../sass/index.scss */
body h1 {
  margin: 0;
}
/* line 73, ../sass/index.scss */
body .leftColumn {
  display: inline-block;
  margin: 10px;
  vertical-align: top;
  width: 35%;
}
/* line 79, ../sass/index.scss */
body .leftColumn #myFace {
  max-width: 100%;
  border-radius: 50%;
}
/* line 84, ../sass/index.scss */
body .leftColumn .contactWrapper {
  text-align: center;
  margin: 10px 5px;
}
/* line 89, ../sass/index.scss */
body .leftColumn .socialLinks {
  margin: 10px 0px 0 0;
  padding: 0;
  font-size: 0.1;
  text-align: justify;
  border: 1px solid #AAA;
  border-radius: 3px;
  background-color: #FAFAFA;
}
/* line 97, ../sass/index.scss */
body .leftColumn .socialLinks > div {
  margin: 5px;
  display: inline-block;
}
/* line 100, ../sass/index.scss */
body .leftColumn .socialLinks > div img {
  max-width: 42px;
  max-height: 42px;
}
/* line 107, ../sass/index.scss */
body .leftColumn .socialLinks:after {
  content: ' ';
  display: inline-block;
  width: 100%;
  height: 0;
}
/* line 116, ../sass/index.scss */
body .rightColumn {
  margin: 10px;
  display: inline-block;
  width: 55%;
}
/* line 120, ../sass/index.scss */
body .rightColumn h1 {
  font-size: 22px;
}
/* line 123, ../sass/index.scss */
body .rightColumn p {
  line-height: 1.6em;
}
/* line 126, ../sass/index.scss */
body .rightColumn .contactButton {
  float: right;
}
/* line 131, ../sass/index.scss */
body .contactButton {
  background-color: #fcfff4;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFCFFF4', endColorstr='#FFB3BEAD');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fcfff4), color-stop(40%, #dfe5d7), color-stop(100%, #b3bead));
  background-image: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background-image: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background-image: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background-image: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  border: 1px solid #767676;
  border-radius: 3px;
  display: inline-block;
  padding: 0px 5px;
  margin: 5px;
}
/* line 133, ../sass/index.scss */
body .contactButton a {
  text-decoration: none;
}
/* line 136, ../sass/index.scss */
body .contactButton span {
  position: relative;
  vertical-align: top;
  top: 10px;
  color: #000000;
}
/* line 142, ../sass/index.scss */
body .contactButton img {
  max-width: 42px;
  max-height: 42px;
  vertical-align: middle;
}
